{% extends 'patient/patient_base.html' %}
{% block patient %}
<div class="row my-5">
    <div class="col">
        <a href="{% url 'appoinment_create' %}" class="btn btn-primary">New Appoinment Book</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">PatientName</th>
                <th scope="col">DoctorName</th>
                <th scope="col">AppoinmentDate</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody id="t1">
                {% for appoinment in apnt %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ appoinment.user.username }}</td>
                <td>{{ appoinment.doctor }}</td>
                <td>{{ appoinment.appoinmentdate }}</td>
                <td>{{ appoinment.status }}</td>
                <td><a href="{% url 'appoinment_detail' appoinment.id %}" class="btn btn-success">Detail</a></td>
                <td><a href="{% url 'update_appoinment' appoinment.id %}" class="btn btn-primary">Update</a></td>

                <td>
                  <button
                  id="btn1"
                  data-app_id={{ appoinment.id }}
                   class="btn btn-danger">Delete</button></td>

              </tr>
               {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script>
  $(document).ready(function(){
    $("#t1 #btn1").click(function(){
      var value=parseInt($(this).attr('data-app_id'))
      console.log(typeof(value))

      $.ajax({
        url:'/appoinments/appoinment_delete/'+value,
        type:'DELETE',
        success:(data)=>{
          alert(data.message)
          $(this).parent().parent().remove()
          
        },
        error:(error)=>{
          console.log(error)
        }
      })
    })
  })
</script>
   {% endblock %}